[Unit]
Description=Timesheet Application

[Service]
Type=simple
User=times1
Group=times1
Restart=on-failure
Environment=MIX_ENV=prod "PORT=5001"
Environment=LANG=en_US.UTF-8

WorkingDirectory=/home/times1/timesheet1
ExecStart=/bin/bash /home/times1/timesheet1/start.sh

[Install]
WantedBy=multi-user.target
